{% extends "manage_vocabulary/layout.html" %} {% load static %} {% block body %}
{% if user.is_authenticated %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    Hello <strong class="text-primary">{{user.username|title}}!</strong>
    <h1>Display vocabulary list</h1>
  </div>
</section>
{% else %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div
    class="d-none d-xl-block position-absolute top-0 start-0 h-100 bg-secondary"
    style="width: 67%; border-bottom-right-radius: 0.75rem"
  ></div>
  <div
    class="d-xl-none position-absolute top-0 start-0 w-100 h-100 bg-secondary"
  ></div>
  <div class="container content-overlay mt-4 mb-2 mt-lg-5 mb-lg-4 pt-5 pb-md-2">
    <h1>You can manage vocabulary</h1>
    <div class="row">
      <div class="d-none d-md-block col-md-2 pt-4 mt-4">
        <img
          src="{% static 'manage_vocabulary/img/intro/swirly-arrow.svg' %}"
          alt="Arrow"
          width="120"
        />
      </div>
      <div class="col-md-10 d-md-flex mt-md-n4">
        <!-- Easy-->
        <div
          class="d-block hover-img-scale position-relative zindex-5 mt-md-5 mx-auto me-md-n5 mb-4 mb-md-0"
          style="max-width: 633px"
        >
          <div class="pt-md-5 mt-4 me-md-n5">
            <h2 class="h4 mb-2 pb-1 ms-md-3">
              <span
                class="nav-link stretched-link d-flex align-items-center justify-content-center justify-content-md-start"
                href="real-estate-home-v1.html"
                ><i class="fi-flame text-primary me-2 pe-1"></i
                ><span>Easy</span></span
              >
            </h2>
            <div class="position-relative zindex-0">
              <img
                class="position-relative zindex-5 rounded"
                src="https://images.saymedia-content.com/.image/t_share/MTk3MTUwMjk1NDU1NzA0MTQ3/how-to-create-a-vocabulary-rich-classroom-for-english-language-learners-6-effective-strategies.jpg"
                alt="Easily"
              />
              <div
                class="d-none d-md-block position-absolute zindex-1"
                style="
                  top: 15px;
                  left: 20px;
                  width: calc(100% - 40px);
                  height: calc(100% - 50px);
                  box-shadow: 33px 26px 85px rgba(0, 0, 0, 0.14);
                "
              ></div>
            </div>
          </div>
        </div>
        <!-- Time-Saving -->
        <div
          class="d-block hover-img-scale position-relative mt-md-n5 mx-auto me-md-n3"
          style="max-width: 550px"
        >
          <h2 class="h4 ms-md-3">
            <span
              class="nav-link stretched-link d-flex align-items-center justify-content-center justify-content-md-start"
              ><i class="fi-alarm text-primary me-2 pe-1"></i
              ><span>Time-Saving</span></span
            >
          </h2>
          <img
            class="rounded"
            src="https://www.learninga-z.com/user_area/content_media/raw/time-saving-tips.jpg"
            alt="Time-Saving"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container mb-5 pb-2 pb-lg-4">
  <div class="row align-items-center">
    <div class="col-md-5">
      <img
        class="d-block mx-md-0 mx-auto mb-md-0 mb-4 rounded"
        src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image/cedada22bc21.png"
        alt="Illustration"
        width="416"
      />
    </div>
    <div class="col-xxl-6 col-md-7 text-md-start text-center">
      <h2 class="text-primary">Easily add and manage your vocabulary</h2>
      <p class="pb-3 fs-lg">
        As an English learner, I understand the struggle of taking notes and
        trying to remember countless words. However, as time passes, it's common
        to forget some of those words. That's why this website offers a
        convenient solution for everyone to save time by eliminating the need
        for paper notes. With this website, you can effortlessly review your
        vocabulary, ensuring that you can easily retain and reinforce your
        learning.
      </p>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
