{% extends "manage_vocabulary/layout.html" %} {% block body %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    <h2 class="h3 mb-4 mb-sm-5 text-primary text-center">
      Hello friend! Welcome back :D
    </h2>
    {% if message %}
    <div class="w-md-50 w-sm-100 alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <form
      action="{% url 'login' %}"
      method="post"
      class="w-md-50 w-sm-100 mb-1 needs-validation mx-auto"
      novalidate
    >
      {% load socialaccount %}
      <div class="d-flex flex-row justify-content-center">
        <p class="mb-3 me-3">Sign in with:</p>
        <a
          class="btn btn-icon btn-translucent-primary rounded-circle mx-1"
          href="{% provider_login_url 'facebook' method='oauth2' %}"
        >
          <i class="fi-facebook"></i>
        </a>
        <a
          href="{% provider_login_url 'google' %}?next=/"
          class="btn btn-icon btn-translucent-primary rounded-circle mx-1"
        >
          <i class="fi-google"></i>
        </a>
      </div>
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0">Or</p>
      </div>
      {% csrf_token %}
      <div class="mb-4 has-validate">
        <label class="form-label" for="{{form.username.label}}"
          >{{form.username.label}} <span class="text-danger">*</span></label
        >
        {{form.username}}
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="mb-4 has-validate">
        <label class="form-label" for="{{form.password.label}}"
          >{{form.password.label}} <span class="text-danger">*</span></label
        >
        {{ form.password }}
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <input class="btn btn-primary mb-2" type="submit" value="Login" />
      <div class="small fw-bold mt-2 pt-1 mb-0">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </div>
    </form>
  </div>
</section>

{% endblock %}
