{% extends "manage_vocabulary/layout.html" %} {% block body %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    <h2 class="h3 mb-4 mb-sm-5 text-primary">Hey there!<br />Welcome back.</h2>
    {% if message %}
    <div class="w-md-50 w-sm-100 alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form
      action="{% url 'login' %}"
      method="post"
      class="w-md-50 w-sm-100 mb-1 needs-validation"
      novalidate
    >
      {% csrf_token %}
      <div class="mb-4 has-validate">
        <label class="form-label" for="{{form.username.label}}"
          >{{form.username.label}} <span class="text-danger">*</span></label
        >
        {{form.username}}
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <div class="mb-4 has-validate">
        <label class="form-label" for="{{form.password.label}}"
          >{{form.password.label}} <span class="text-danger">*</span></label
        >
        {{ form.password }}
        <div class="invalid-feedback">This field is required.</div>
      </div>
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
  </div>
</section>

{% endblock %}
