{% extends "manage_vocabulary/layout.html" %} {% block body %} {% load custom_filters %}
<div class="container mt-6 mb-md-4">
  {% with breadcrumb_name="Edit "|add:voca_title %} {% include 'components/breadcrumb.html' %} {% endwith %} {% if message and id %}
  <div class="alert alert-danger" role="alert">
    {{message}},
    <a class="fw-bold" href="{% url 'vocabulary_detail' id %}">click here</a>
  </div>
  {% endif %}
  <form
    action="{% url 'edit_vocabulary' title=voca_title %}"
    method="post"
  >
    {% csrf_token %}
    <div class="p-4 card border-0 shadow-sm">
      <label class="form-label" for="{{ form.name.id_for_label }}"
        >{{ form.name.label }}</label
      >
      {{form.name}}
      <div class="form_entries">
        {% for entry in form_entries %}
        <div class="clone_div">
          <div
            class="row mt-3 p-4 bg-secondary rounded alert alert-dismissible fade show"
          >
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>

            <div class="col-md-2 mb-3">
              <label
                class="form-label"
                for="{{entry.part_of_speech.id_for_lable}}"
                >{{entry.part_of_speech.label}}</label
              >
              {{entry.part_of_speech}}
            </div>
            <div class="col-md-10">
              <label class="form-label" for="{{entry.definition.id_for_label}}">
                {{entry.definition.label}}</label
              >
              {{entry.definition}}
            </div>
            <div class="col-12">
              <label class="form-label" for="{{entry.exmple.id_for_label}}"
                >{{entry.example.label}}</label
              >
              {{entry.example}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mt-3 change_order_position_xs">
        <button class="btn btn-primary w-150px me-md-5 me-sm-4" type="submit">
          <i class="fi-check me-2"></i>Save
        </button>
        <button
          type="button"
          id="add_other_definition"
          class="btn btn-info w-250px"
        >
          <i class="fi-plus me-2"></i>
          Add other definition
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
