{% url 'index' as index %} {% url 'add_vocabulary' as add_vocabulary %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5Z2MKY58PY"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5Z2MKY58PY");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Vocabulary Management{% endblock %}</title>
    <link
      href="{% static 'manage_vocabulary/css/theme.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'manage_vocabulary/css/custom_style.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'manage_vocabulary/img/icon.png' %}"
    />
  </head>
  <body>
    <main class="page-wrapper">
      <header class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand me-2 me-xl-4" href="{% url 'index' %}"
            ><img
              class="d-block logo"
              src="{% static 'manage_vocabulary/img/logo/dictionary-icon.png' %}"
              alt="Toro"
          /></a>
          <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
          <form
            action="{% url  'logout' %}"
            method="POST"
            class="ms-2 order-lg-3"
          >
            {% csrf_token %}
            <button class="btn btn-primary btn-sm rounded-pill" type="submit">
              <i class="fi-logout me-2"></i>Logout
            </button>
          </form>
          {% else %}
          <a
            class="btn btn-sm text-primary d-none d-md-block order-md-3"
            href="{% url 'login' %}"
            rel="noopener"
            ><i class="fi-user me-2"></i>Log In</a
          >
          <a
            class="btn btn-primary btn-sm rounded-pill ms-2 order-md-3 d-none d-md-block"
            href="{% url 'register' %}"
            >Join for free!</a
          >
          <a
            class="btn btn-sm text-success me-1 d-md-none d-sm-block order-md-3 p-0"
            href="{% url 'login' %}"
            rel="noopener"
            >Log In</a
          >
          <span class="d-md-none d-sm-block"> | </span>
          <a
            class="btn btn-sm text-primary order-lg-3 d-md-none d-sm-block p-0 ms-1"
            href="{% url 'register' %}"
            >Join for free!</a
          >
          {% endif %}
          <div class="collapse navbar-collapse order-md-2" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == index %} active {% endif %}"
                  href="{% url 'index' %}"
                  role="button"
                  aria-expanded="false"
                  >Home</a
                >
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == add_vocabulary %} active {% endif %}"
                  href="{% url 'add_vocabulary' %}"
                  role="button"
                  aria-expanded="false"
                  >Add new vocabulary</a
                >
              </li>
              <li class="nav-item">
                {% url 'vocab_by_dates' as vocab_by_dates %}
                <a
                  class="nav-link {% if request.path == vocab_by_dates %} active {% endif %}"
                  href="{% url 'vocab_by_dates' %}"
                  role="button"
                  aria-expanded="false"
                  >History</a
                >
              </li>
              {% else %} {% comment %}
              <li class="nav-item">
                <a class="nav-link" href="components/typography.html"
                  >Contact Me</a
                >
              </li>
              {% endcomment %} {% endif %} {% comment %}
              <li class="nav-item">
                <a class="nav-link" href="docs/dev-setup.html">Documentation</a>
              </li>
              {% endcomment %}
            </ul>
          </div>
        </div>
      </header>
      {% block body %} {% endblock %}
    </main>
    <footer class="position-relative pb-5">
      <div
        class="d-block position-absolute top-0 start-0 w-100 h-100 bg-dark"
        style="
          border-top-left-radius: 1.875rem;
          border-top-right-radius: 1.875rem;
        "
      ></div>

      <div class="container content-overlay text-center py-4 py-lg-5">
        <p class="fs-sm mb-0 text-light">
          © All rights reserved. Made from
          <span class="text-primary">my big heart.</span>
        </p>
      </div>
    </footer>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'manage_vocabulary/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'manage_vocabulary/vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'manage_vocabulary/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'manage_vocabulary/js/theme.min.js' %}"></script>
    <script src="{% static 'manage_vocabulary/js/add-new-definition.min.js' %}"></script>
    <script src="{% static 'manage_vocabulary/js/scroll.min.js' %}"></script>
  </body>
</html>
