{% extends "manage_vocabulary/layout.html" %} {% load static %} {% block body %}
{% load custom_filters %}
<div class="container mt-5 mb-md-4 py-5">
  <h2 class="mt-4">{{ user.username|title}}'s Dictionary</h2>
   {% include 'manage_vocabulary/components/search_form.html' with form=searchForm %}
{% if total == 0 %}
<h6 class="text-center my-3">
  We couldn't find any matches for
  <span class="text-primary">{{ voca_name }}</span> in your dictionary.
</h6>
<h5>Do you want to add a new vocabulary?</h5>
<a
  class="fw-bold text-primary text-decoration-none"
  href="{% url 'add_vocabulary' %}"
  >Click here to add</a
>
{% else %}<p> We found {{total}} word(s). </p>{% endif %}
  <ul class="mt-1">
    {% for word in words %}
    <li>
      <a
        class="text-primary text-decoration-none text-decoration-hover"
        href="{% url 'vocabulary_detail' word.id %}"
      >
        {{word.name }}</a
      >
    </li>
    {% endfor%}
  </ul>
</div>
{% endblock %}
