{% extends "manage_vocabulary/layout.html" %} {% block body %} {% load custom_filters %}
<div class="container mt-6 mb-md-4">
  {% include 'components/breadcrumb.html' with breadcrumb_name='History' %}
  
{% for year in years %}
  <h2 class="text-accent fw-bold mb-2">{{ year.year }}</h2>
  {% for month in months %}
  {% if month.added_date__month == month.month %}
  <div class="d-flex">
    <h4 class="text-primary fst-italic ms-4 mb-2">{{ month.month|month_name }}</h4>
    <div class="ms-2 mt-1">
     <span class="badge bg-faded-info">
      {{month.total_words}} word{{month.total_words|pluralize}}
     </span>
    </div>
  </div>
      <ol class="ms-4 row">
      {% for word in vocabulary_words %}
        {% if word.added_date|date:"Y" == year.year|stringformat:"s" and word.added_date|date:"F" == month.month|month_name|stringformat:"s" %}
          <li class="col-md-3 col-sm-6 mb-1">
            <a class="vocabulary_name text-body" href="{% url 'vocabulary_detail' word.name %}">
              {{word.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
{% endfor %}



</div>
{% endblock %}