.w-150px {
  width: 150px;
}
.w-250px {
  width: 250px;
}
.logo {
  height: 50px;
}
.bg-purple {
  background-color: #d521de;
}
.mt-6 {
  margin-top: 6rem !important;
}
.vocabulary_list {
  font-weight: 600;
  padding: 0 8px;
  text-align: center;
  height: 1.25rem;
  font-size: 1.25rem;
  line-height: 1;
  border-right: 1px solid #000;
}
.vocabulary_list:last-child {
  border-right: none !important;
}
.clone_div {
  position: relative;
}
.clone_div .content-overlay {
  position: absolute;
  text-align: right;
}
.clone_div button.btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle {
  position: absolute;
}
.btn-icon.btn-xs > i {
  font-size: 2em;
}
.rounded-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.text-decoration-hover:hover{
  text-decoration: underline !important;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
