{% extends "manage_vocabulary/layout.html" %} {% load static %} {% load widget_tweaks %} {% block body %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    {% include 'components/_messages.html' %}

    <section
      class="card card-body border-0 shadow p-4 mb-4 mx-auto"
      id="basic-info"
    >
      <h2 class="h3 mb-2 text-primary text-center">Password reset sent</h2>
      <p class="lh-base">
        We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them shortly. If
        you don’t receive an email, please make sure you’ve entered the address
        you registered with, and check your spam folder.
      </p>
    </section>
  </div>
</section>
{% endblock %}
