{% extends "manage_vocabulary/layout.html" %} {% load static %} {% load widget_tweaks %} {% block body %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    {% include 'components/_messages.html' %}

    <section
      class="card card-body border-0 shadow-sm p-4 mb-4 w-lg-50 mx-auto"
      id="basic-info"
    >
      <h2 class="h3 mb-2 text-primary text-center">Enter new password</h2>
      <p class="lh-base">
        Please enter your new password twice so we can vertify you typed in
        correctly.
      </p>
      <form
        method="post"
        class="w-md-75 w-sm-100 mb-1 needs-validation mx-auto"
      >
        {% csrf_token %}
        <div class="mb-4">
          <label class="form-label" for="{{form.new_password1.label}}"
            >{{form.new_password1.label}}
            <span class="text-danger">*</span></label
          >
          {{form.new_password1|append_attr:"class:form-control"|attr:"autofocus"}}
          <small  class="form-text text-muted">
		  	  {{form.new_password1.help_text }}
          </small>
        </div>
        <div class="mb-4">
          <label class="form-label" for="{{form.new_password1.label}}"
            >{{form.new_password2.label}}
            <span class="text-danger">*</span></label
          >
          {{form.new_password2|append_attr:"class:form-control"|attr:"autofocus"}}
        </div>
        <input
          type="submit"
          class="btn btn-primary btn-sm rounded-pill mt-4"
          value="Submit"
        />
      </form>
    </section>
  </div>
</section>
{% endblock %}
