{% extends "../layout.html" %} {% load static %} {% load widget_tweaks %} {% block body %}
<section class="position-relative overflow-hidden py-5 mb-5">
  <div class="container py-5">
    {% include '../components/_messages.html' %}

    <section
      class="card card-body border-0 shadow p-4 w-md-50 mb-4 mx-auto"
      id="basic-info"
    >
    <h2 class="h3 mb-2 text-primary text-center">Reset Password</h2>
	<div class="alert alert-success">Password successfully changed.</div>
      <p class="lh-base">Your passord has been reset. You can now go to <a href="{% url 'login' %}">login </a> </p>
    </section>
  </div>
</section>
{% endblock %}
